html {
  background-color: #282a36;
  height: 100%;
}

.header {
  text-align: center;
  height: 160px;
  width: 100%;
  margin: 0 auto; /* define margens automáticas para esquerda e direita */
  color: #ff79c6;
  font-family: fantasy;
  padding-top: 60px;
  background-color: #282a36;
}

.fa-square-plus {
  padding: 0;
  margin-top: 2px;
  font-size: 23px;
}

.task-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #282a36;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-wrapper {
  width: 265px;
  height: 197px;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 10px;
  background-color: #BCBCB4;
}

.card-top {
  width: 100%;
  height: 2%;
  border-radius: 10px;
}

#card-title {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  background-color: #bd93f9;
  border-radius: 13px;
  padding-left: 14px;
  text-align: left;;
}

.description {
  margin: 10px;
}

.cardFooter {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fa-edit {
  color: #282a36;
  cursor: pointer;
  margin-right: 7px;
  font-size: 20px;
}

.fa-regular {
  color: #282a36;
  cursor: pointer;
  font-size: 20px;
}

.card-header {
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.card-top {
  background-color: #ff79c6;
}
